// Place all the styles related to the show controller here.
//   border: 1px solid blue; They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
center {
  background-color: #74BBE4;
}

.team {
  display: inline-block;
  width: 40%;
  height: 50%;
  margin:  auto;
}
#center_div{
  margin: 0 auto;
  width: 70%;
}
